.App {
  /* display: flex; */
  padding: 30px;
}

.App > div {
  margin-right: 50px;
}
ul {
  list-style: none;
}
.main-container {
  display: flex;
}
.todo-container {
    border: 2px solid orange;
    width: fit-content;
    padding: 30px 25px;
    margin-right: 20px;
    height: fit-content;
}